/* Dark variables */
$theme-color: rgb(24, 26, 27);
$text-color: rgb(121, 194, 211);
$text-color-secondary: rgb(171, 164, 153);
$text-grey: rgb(150, 173, 194);
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: rgb(24, 26, 27);
$heart: rgb(251, 130, 101);
/* Added */
$content-color: rgb(24, 26, 27);
$title-color: rgb(121, 194, 211);
$link-color: rgb(121, 194, 211);
$sub-title-color: rgb(150, 173, 194);